*{
    font-family: Arial, Helvetica, sans-serif;
  }
body{
    background-color: #fed0bb;
}
#image{
    padding-top: 70px;
    padding-left: 20px;
    margin-left: 5px;
    height: 400px;
}
#one{
    background-color: #b23a48;
    height: 400px;
    width: 400px;
    display: inline-block;
    margin-left:60px;
    border: 3px solid #b23a48;
    border-radius: 5px;
}

#two{
    background-color: #b23a48;
    text-align: center;
    height: 400px;
    font-size:25px;
}
header{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 70px;
    background-color: #461220;
    border: 2px solid black;
    color:#EFD9CE;
}
#logo{
    color: orange;
    font-size: 25px;
}
#search{
    background-color: orange;
}

#foot{
    color: #EFD9CE;
    text-decoration:none ;
}
.footer-col{
    display: inline-block;
    margin-top: 50px;
    height: 150px;
    width: 150px;
    color: #EFD9CE;
    text-align: center;
    margin-left: 250px;
    margin-bottom: 50px;
}
footer{
    background-color: #461220;
    border: 2px solid black;
}

#three{
    height: 300px;
    width: 450px;
    display: inline-block;
    
}
#four{
    height: 400px;
    width: 450px;
    margin-left: 40px;
    padding: 5px;
    display: inline-block;
    
}
h1{
    text-align: center;
}
.yeyy{
    margin-top:30px;
}


#head{
    margin-top: 20px;
    color: #fed0bb;
    text-decoration: none;
    font-size: 20px; 
    margin-left: 60px;
}

#shop{
    background-color: #b23a48;
    color: #fed0bb;
    border: 2px solid #461220;
    border-radius: 7px;
    height: 60px;
    margin-left: 640px;
    width: 180px;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h4{
    font-size: 20px;
}
img{
    margin-left: 2px;
    margin-top: 2px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

h1{
    text-decoration: underline;
}
#search{
    height: 35px;
    width: 70px;
    border-radius: 5px;
    margin-top: 19px;
}
input{
    margin-top: 20px;
    height: 30px;
    border: #EFD9CE;
    border-radius: 5px;
    margin-left: 60px;
}
#logo{
    margin-left: 20px;
    margin-right: 30px;
}
